@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.aside {
  width: 150px;
  height: 100%;
  position: fixed;
  background: var(--sideBar-bg);
  top: 0;
  left: 0;
  z-index: 210;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transform: translate(0);
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 180px;
    top: 0;
    left: 0;
    background-color:var(--typical-color);
  }
}
.container {
  position: absolute;
  top: 0;
  left: 0;
}

canvas {
  z-index: 3;
  position: absolute;
}
.section-1 {
    display: flex;
    align-items: center;
    font-family: sans-serif;
    position: relative;
    padding: 8rem 60rem 6rem 12.2rem;
    
  }
.svg-anime{
  margin: 0;
  padding: 0;
  position: absolute;
  right: 300px;
  // top: 10px;
}
.sidebar__logo1 img{
  width: 120px;
}
.student{
  font-size: 4rem;
}
.intro-page{
  height: 100%;
  width: 100%;
  // display: flex;
  // flex-direction: column;
  // // justify-content: space-between;
  // align-items: center;
}
 .intro-page h1 {

    font-size: 6.5em;
    line-height: 6rem;
    letter-spacing: -1px;
    font-weight: 700;
    color: var(--color-tem);
    font-family: 'Helvetica Neue', sans-serif;
    position: absolute;
    z-index: 4;
  }
  .intro-page h4{
    color: white;
    font-family: "Cedarville Cursive", cursive;
  }
  // .intro-page h1 .home-logo {
  //   width: 30px;
  //   animation: fadeIn 2s linear;
  //   // animation-delay: 1.4s;
  //   fill: var(--color-tem);
  // }
  
  // .animate-logo-1 {
  //   transition: 0.3s linear;
  //   animation: logo 2s cubic-bezier(0.075, 0.82, 0.165, 1) infinite;
  // }
  
  // .animate-logo-2 {
  //   animation: logo 7s cubic-bezier(0.075, 0.82, 0.165, 1) infinite;
  // }
  
  // @keyframes logo {
  //   0% {
  //     transform: translateY(-20px);
  //   }
  //   50% {
  //     transform: translateY(40px);
  //   }
  // }
  
  
  // .text-desc01{
  //   visibility: hidden;
  // }
  .text-desc {
    position: absolute;
    top: 31.8rem;
    left: 21rem;
    font-size: 2.9rem;
    margin: 30px 0;
    letter-spacing: 2px;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
    color: #817f7f;
    font-weight: 400;
    font-family: 'Helvetica Neue', sans-serif;
    animation-delay: 30s;
  }
  .text-desc li{
    position: relative;
    top: 0;
    animation-delay: 30s;
    animation: slide 12s steps(4) infinite; 
  }
  @keyframes slide{
    100%{
      top: -160px;
    }
  }
  .text-desc li span{
    position: relative;
    line-height: 40px;
  }

  .text-desc li span::after{
    content:"";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background: var(--primary-bg);
    border-left: 1px solid #857f7f;
    animation: typing 3s steps(17) infinite;
  }

  @keyframes typing{
    40%, 60%{
      left: calc(100% + 10px);
    }
    100%{
      left: 0;
    }

  }

  .buttonContact a{
    margin-top: 2rem;
    top: 40rem;
    left:12.2rem 
  }
  
  .contact-button {
    width: 100%;
    height: 50px;
    max-width: 200px;
    line-height: 50px;
    position: relative;
    margin: 50px 0;
    animation: fadeInAnimation 1s 1.8s backwards;
    white-space: nowrap;
    z-index: 10;
    // position: absolute;
  }
  
  .contact-button div {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 0 15px 0 15px;
  }
  
  .contact-button span.bg {
    width: 0%;
    height: 100%;
    position: absolute;
    left: -5%;
    top: 0;
    transform: skewX(-10deg);
    transition: all 0.3s linear;
  }
  
  .contact-button:hover span.bg {
    background: var(--color-tem);
    width: 110%;
    border-radius: 0 15px 0 15px;
  }
  
  .contact-button span.base {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0 15px 0 15px;
    border: 1px solid var(--color-tem);
  }
  
  .contact-button span.text {
    text-align: center;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
  }
  
  .contact-button:hover span.text {
    color: #2d2b2b;
  }
  
  .submit-button {
    margin-top: 10px;
    background: transparent;
    border: none;
    outline: none;
    color: #8a8484;
    cursor: pointer;
    font-size: 1rem;
    z-index: 30;
    // position: absolute;
  }
  
  .submit-button:hover {
    color: #2d2b2b;
  }
  .scroll__wrapper {
    display: flex;
    place-items: center;
    transform: translate(80%, 80%);
    position: relative;
    color: var(--color-tem);
    &::after {
      content: 'scroll down';
      position: absolute;
      top: 0;
      left: -8px;
    }
    display: none;
  }
  
  .scroll__down {
    font-size: 4rem;
    animation: scroll 2s ease-in alternate-reverse infinite;
  }
  .scroll__down:hover .scroll__wrapper::after {
    display: block;
  }
  
  @media screen and (min-width: 1200px) {
    .scroll__wrapper {
      display: block;
    }
  }
  
  @keyframes scroll {
    0% {
      transform: translateY(5px);
    }
    50% {
      transform: translateY(-5px);
    }
    100% {
      transform: translateY(5px);
    }
  }
  
  // @media screen and (min-width: 2000px) {
  //   .intro-page h1 {
  //     font-size: 10rem;
  //     line-height: 9rem;
  //     letter-spacing: -4px;
  //   }
  //   .intro-page h1 .home-logo {
  //     width: 100px;
  //   }
  //   .section-1 .text-desc {
  //     font-size: 1.5em;
  //   }
  // }
  

  
  @media screen and (max-width: 1024px) {
    .aside {
      width: 100%;
      height: 100px;
      position: fixed;
      top:0;
      z-index: 400;
      &::after {
        content: '';
        position: absolute;
        width: 100px;
        height: 100px;
      }
    }
    .aside-wrapper {
      width: 100%;
      height: 3rem;
      margin: auto;
      display: flex;
    }
    .section-1 {
      padding: 14rem 60rem 6rem 2rem;
      
    }

    canvas {
      z-index: 10;
      position: absolute;
    }
    .intro-page h1 {
      font-size: 5.5rem;
      line-height: 5rem;
      letter-spacing: -2px;
    }
    .intro-page h1 .home-logo {
      width: 60px;
    }
    .buttonContact a{
      top: 37rem;
      left:2rem 
    }
  
    .contact-button {
      max-width: 220px;
      height: 50px;
      line-height: 50px;
      // position: absolute;
      // top: 2rem;
      // left: 5rem;
    }
    .text-desc {
      top: 32.8rem;
      left: 11rem;
      font-size: 2.4em;
      margin: 30px 0;
      letter-spacing: 2px;
      height: 30px;
      line-height: 30px;
    }
    .text-desc li{
      position: relative;
      top: 0;
      animation-delay: 30s;
      animation: slide 12s steps(4) infinite; 
    }
    @keyframes slide{
      100%{
        top: -120px;
      }
    }
    .text-desc li span{
      position: relative;
      line-height: 30px;
    }
  }
  
  // tablet screens || medium screens
  @media screen and (max-width: 768px) {
    .section-1 {
      padding: 15rem 35rem 9rem 2rem;
      
    }
    
    canvas {
      z-index: 10;
      position: absolute;
    }
    .student{
      font-size: 3rem;
      padding-top: 2rem;
    }
    .section-1 .text-desc {
      
      top: 31.59rem;
      left: 9rem;
      font-size: 2.3rem;
      margin: 27px 0;
      letter-spacing: 2px;
      height: 27px;
      font-weight: 400;
      line-height: 27px;
      animation-delay: 30s;
    }
    @keyframes slide{
      100%{
        top: -108px;
      }
    }
    .text-desc li span{
      position: relative;
      line-height: 27px;
    }
    .sidebar__logo1 img{
      width: 90px;
      
    }
    .intro-page h1 {
      font-size: 3.8rem;
      line-height: 3.5rem;
      letter-spacing: -2px;
    }
    .intro-page h1 .home-logo {
      width: 50px;
    }
  
    .contact-button {
      max-width: 170px;
      height: 50px;
      line-height: 50px;
    }
    .section-1 .float-text {
      left: 20vw;
    }
    
  }

  
  // max-width: 450px smaller screens
  @media screen and (max-width: 450px) {
    .section-1 {
      padding: 13rem 22rem 6rem 2rem;
      
    }
    canvas {
      z-index: 10;
      position: absolute;
    }
    .intro-page h1 {
      font-size: 2.4rem;
      line-height: 2.3rem;
      letter-spacing: -1px;
    }
    .student{
      font-size: 1.6rem;
      padding-top: 1rem;
    }
    .sidebar__logo1 img{
      width: 60px;
      
    }
    .intro-page h1 .home-logo {
      width: 25px;
    }
  
    .contact-button {
      max-width: 180px;
      height: 45px;
      line-height: 45px;
      font-size: 0.95rem;
    }
    .section-1 .text-desc {
      
      top: 23.3rem;
      left: 6rem;
      font-size: 1.3rem;
      margin: 20px 0;
      letter-spacing: 2px;
      height: 20px;
      font-weight: 400;
      line-height: 20px;
      animation-delay: 30s;
    }
    @keyframes slide{
      100%{
        top: -80px;
      }
    }
    .text-desc li span{
      position: relative;
      line-height: 20px;
    }


  .buttonContact a{
    top: 26rem;
    left:2rem 
  }
  .svg-anime{
    visibility: hidden;
  }
    
  }
  