.section-skills {
    position: relative;
    padding-top: 0rem;

  }
  .section-skills-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    padding:3.5rem 4rem 13.8rem 12.2rem;
  }
  .section-skills-description {
    padding-top: 100px;
    display: grid;
    grid-template-columns: 1fr;
  }
  .section-skills-description h2 {
    display: block;
    font-size: 5rem;
    margin-bottom: 25px;
    .text-animate-hover {
      &:hover {
        color: var(--hover-color);
      }
    }
  }
  .progress__bar h2 {
    font-size: 1.3rem;
  }
  
  @media screen and (min-width: 2000px) {
    .section-skills-description {
      grid-template-columns: 1fr 1fr;
      gap: 2rem;
    }
    .section-skills-description h2 {
      font-size: 7rem;
    }
    .skills-description-skills {
      grid-template-columns: repeat(5, 1fr);
      grid-gap: 2rem;
    }
  }
  
  // @media screen and (max-width: 1900px) {
  //   .section-about-description {
  //     grid-template-columns: 2fr 1fr;
  //     gap: 2rem;
  //   }
  //   .section-about-description h2 {
  //     font-size: 3.5rem;
  //   }
  //   .about-description-skills {
  //     grid-template-columns: repeat(5, 1fr);
  //     grid-gap: 2rem;
  //   }
  // }
  
  @media screen and (max-width: 1024px) {
    // .section-skills-description {
    //   padding-top: 100px;
    // }
    .section-skills-wrapper {
      padding:0 4rem 13.8rem 2rem;
    }
    .skills-description-skills {
      grid-template-columns: repeat(6, 1fr);
      grid-gap: 2rem;
    }
    .section-skills-description h2 {
      font-size: 2.5rem;
    }
    .section-skills-description {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  // @media screen and (max-width: 980px) {
  //   .about-description-skills {
  //     grid-template-columns: repeat(4, 1fr);
  //   }
  //   .section-about-description {
  //     grid-template-columns: 1fr;
  //   }
  // }
  
  @media screen and (max-width: 768px) {
    .section-skills-description h2 {
      font-size: 2.3rem;
    }
    .skills-description-skills {
      grid-template-columns: repeat(6, 1fr);
    }
    .section-skills-description {
      grid-template-columns: 1fr;
    }
    .section-skills-wrapper {
      padding-bottom: 3rem
    }
  }
  
  @media screen and (max-width: 450px) {
        .section-skills-description {
      grid-template-columns: 1fr;
        padding-top: 6.5rem;
    }
    .section-skills-wrapper {
      display: grid;
      grid-template-columns: 1fr;
      padding-left:2rem;
      padding-bottom: 2rem
    }
    .section-skills-description h2 {
      font-size: 2rem;
    }
    .skills-description-skills {
      grid-template-columns: repeat(3, 1fr);
    }
    .section-skills-description p {
      font-size: 0.975rem;
    }
  }
  